.infosProfileContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .infosProfileBox {
    padding-top: 20px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .infosProfilePicture {
      height: 230px;
      width: 230px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
      .infosProfileSetting {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        background-color: $primary;
        border-radius: 50%;
        a {
          width: 70%;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .infosProfileName {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 25px;
      margin-top: 20px;
    }
    .infosProfileAlbum {
      width: 100%;
      margin-top: 20px;
      p {
        font-size: 20px;
        color: $white;
      }
      span {
        font-size: 15px;
        color: red;
      }
      .infosProfileAlbumGrid {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        div {
          height: 130px;
          border-radius: 7px;
          border: 1px dashed $white;
          position: relative;
          .addPictureBtn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 0%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .pictureVisualizer {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: 100%;
            transform: translate(-50%, -50%);
            border: none;
            img {
              height: 100%;
              width: 100%;
              border-radius: 7px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
